.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  color: $text-title-white;
  z-index: 2;
}

.swiper {
  width: 400px;
  height: 590px;
  border: 3px solid #fff;
}

@media only screen and (max-width: 768px) {
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: $text-title-white;
  }

  .swiper {
    width: 300px;
    height: 440px;
    border: 3px solid #fff;
  }
}
